@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-image: url('./assets/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slick-prev {
  background-color: #84cc16;
  padding: 30px;
  border-radius: 10px;
  z-index: 10;
}

.slick-prev:hover {
  background-color: #84cc16;
}

.slick-prev::before {
  content: '';
}

.slick-prev:focus {
  background-image: url('./assets/prev.svg');
}

.slick-prev::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
  position: absolute;
  transform: translate(50%, 50%);
  background-image: url('./assets/prev.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slick-next::after {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  top: 0px;
  left: 0px;
  position: absolute;
  transform: translate(50%, 50%);
  background-image: url('./assets/next.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slick-next {
  background-color: #84cc16;
  padding: 30px;
  border-radius: 10px;
  z-index: 10;
}

.slick-next:focus {
  background-image: url('./assets/next.svg');
}

.slick-next::before {
  content: '';
}

.slick-next:hover {
  background-color: #84cc16;
}

.slick-arrow:focus {
  background-color: #84cc16;
}

.slider-section .slick-arrow {
  display: none !important;
}

.slider-section .slick-dots {
  top: 0px;
  transform: translateY(-5.5rem);
}

.slider-section .slick-dots li button::before {
  content: '';
  background-color: #84cc16;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  color: white;
  padding: 27px;
  border-radius: 50%;
}

.slider-section .slick-dots li:nth-child(1) button::before {
  content: '1';
}

.slider-section .slick-dots li:nth-child(2) button::before {
  content: '2';
}

.slider-section .slick-dots li:nth-child(3) button::before {
  content: '3';
}

.slider-section .slick-dots li:nth-child(4) button::before {
  content: '4';
}


.slider-section .slick-dots {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between;
}

.slick-slide > div{
  display: flex;
  align-items: center;
  justify-content: center;
}